<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826029532783-8riprmf4i0kfr9bu9ocln3j4mams9hib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826029532783-8riprmf4i0kfr9bu9ocln3j4mams9hib</string>
	<key>API_KEY</key>
	<string>AIzaSyDZySkuQaqOBxP7VSF3HmMFvtQjDtWlfkw</string>
	<key>GCM_SENDER_ID</key>
	<string>826029532783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pavel-Ivanovski.Covid19</string>
	<key>PROJECT_ID</key>
	<string>covid19-296312</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-296312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:826029532783:ios:a9b2dc7c69311c92aa8f9a</string>
</dict>
</plist>
